/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include form-styles();

	.page-template-page-submit & {
		display: block;
	}
}

.search-icon {
	border: none solid transparent;
	padding-right: .5rem;
	padding-left: .5rem;
	& i {
		color: $color__brand-main;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	@include form-styles(.5rem, .5rem);

	.page-template-page-submit & {
		display: block;
	}
}

textarea {
	width: 100%;
}

input {
	@include tablet {
		width: 36%;
		&[type="submit"]{
			width: auto;
		}
	}
}