/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: block;
	width: 100%;
	margin-bottom: 1rem;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			position: relative;
			padding: 0 1rem;
			&::after {
				position: absolute;
				content: '';
				top: 0; right: 0;
				width: 1px;
				height: 100%;
				border-right: 1px solid $white;
			}
			&:nth-child(1){
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
				&::after {
					display: none;
				}
			}
		}
	}

	

	a {
		display: block;
		text-decoration: none;
	}

}
