/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
	
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/* Lists */

ul, ol {
	list-style: none;
	margin: 0; padding: 0;

	.page-template-page-archives & {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		margin-bottom: $base__space-unit / 2;

		.page-template-page-archives & {
			margin-right: $base__space-unit;
		}
	}
}

/* Menus */

.main-navigation {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	@include tablet {
		width: auto;
		padding-right: .8rem;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			position: relative;
			margin: 0;
			padding: 0 .8rem;
			&::after {
				position: absolute;
				content: '';
				top: 0; right: 0;
				width: 1px;
				height: 100%;
				border-right: 1px solid $white;
			}
			&:nth-child(1){
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
				&::after {
					display: none;
				}
				@include tablet {
					padding-right: .8rem;
					&::after {
						display: block;
					}
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

}

/* Pagination */
.nav-links, .number-pagination {
	& > * {
		padding: 0 .25rem;
		&:first-child {
			padding-left: 0;
		}
	}
}