/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* General */
* {
    font-family: $font__main;
    color: $white;
}

.site {
    display: flex;
    flex-direction: column;
    padding: $base__space-unit/2;
    min-height: 100vh;

    &-header {
        flex: none;
        margin: $base__space-unit*2 0 $base__space-unit 0;    
        .site-logo {
            width: 80%;
        }
    } // end .site-header
    &-content {
        flex: none;
    } // end .site-content
    &-footer {
        flex: 1 1 auto;
        margin-top: $base__space-unit;
        padding: $base__space-unit 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
}

/* All Archives Page */

.archive, .search {
    .site-main > * {
        padding-bottom: $base__space-unit;
        border-bottom: $base__border;
        &:last-child {
            border-bottom: none;
        }
    }
}

/* Submit a Quote Page */
