/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* General */
* {
    font-family: $font__main;
    color: $white;
}

.site {
    display: flex;
    flex-direction: column;
    padding: $base__space-unit/2;
    min-height: 100vh;
    @include tablet {
        padding: $base__space-unit;
    }
    @include desktop {
        width: $width-desktop-content;
        margin: 0 auto;
    }
    
    &-header {
        flex: none;
        margin: $base__space-unit*2 0 $base__space-unit 0;    
        .site-logo {
            width: 80%;
            @include tablet { width: 32rem;}
            @include desktop { width: 100%;}
        }
    } // end .site-header
    &-content {
        flex: none;
        @include desktop {
            position: relative;
            &::after, &::before {
                position: absolute;
                top: 0;
                font-family: FontAwesome;
                font-size: 5rem;
                color: $color__brand-main
            }
            &::after {
                content: '\f10e';
                right: -8rem;
            }
            &::before {
                content: '\f10d';
                left: -8rem;
            }
            .post {
                .entry-content p {font-size: 2.5rem;}
            }
            button {
                display: block;
                margin: 0 auto;
            }
        }
    } // end .site-content
    &-footer {
        flex: 1 1 auto;
        margin-top: $base__space-unit;
        padding: $base__space-unit 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;

        @include tablet {
            flex: 0 1  auto;
            margin-top: $base__space-unit*3;
            align-content: flex-start;
            justify-content: flex-end;
        }
    }
}

/* All Archives Page */
.archive {
    .site-main > * {
        padding-bottom: $base__space-unit;
        border-bottom: $base__border;
        &:last-child {
            border-bottom: none;
        }
    }
}

.search {
    .page-header {
        border-bottom: $base__border;
    }
}

/* Submit a Quote Page */
.page-template-page-submit {
    .quote-submission-wrapper {
        form > div {
            margin-bottom: $base__space-unit;

            input, textarea {
                margin-top: $base__space-unit / 3;
            }
        }
    }
    .create-new-account {
        @extend a;
        cursor: pointer;
    }
}