// Breakpoints
$width-mobile: 480px;
$width-tablet: 620px;
$width-desktop-content: 720px;
$width-desktop: 1080px;

// Structure
$base__space-unit: 1.5rem;
$base__border: 1px dotted #fff;

// Colors
$white: #fff;
$color__bg: #222;
$color__bg-screen: #f1f1f1;
$color__brand-main: #00cc00;

$color__text-screen: #21759b;

$color__bg-pre: #eee;
$color__bg-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__brand-main;
$color__link-visited: $color__brand-main;
$color__link-hover: darken( $color__link, 10% );
$color__link-hover-bg: lighten( $color__bg, 10%);

// Typography
$font__main: 'Exo', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;